/* 
  outline add before number
*/
/* 自动编号 */
.vp-doc h2 {
  counter-increment: h2;
  counter-reset: h3; /* Reset h3 counter when a new h2 is encountered */
}

.vp-doc h2:before {
  content: counter(h2) ". ";
}

.vp-doc h3 {
  counter-increment: h3;
}

.vp-doc h3:before {
  content: counter(h2) "." counter(h3) " ";
}

/* Outline auto numbering */
/* 处理 root 结构的 h2 级别 */
.VPDocOutlineItem.root > li {
  counter-increment: outline-h2;
  counter-reset: outline-h3;
}

.VPDocOutlineItem.root > li > .outline-link::before {
  content: counter(outline-h2) ". ";
}

/* 处理 root 结构的 h3 级别 */
.VPDocOutlineItem.root > li > .VPDocOutlineItem.nested > li {
  counter-increment: outline-h3;
}

.VPDocOutlineItem.root
  > li
  > .VPDocOutlineItem.nested
  > li
  > .outline-link::before {
  content: counter(outline-h2) "." counter(outline-h3) " ";
}

/* 处理 nested 结构的 h2 级别 */
.VPDocOutlineItem.nested > li {
  counter-increment: outline-h2;
  counter-reset: outline-h3;
}

.VPDocOutlineItem.nested > li > .outline-link::before {
  content: counter(outline-h2) ". ";
}

/* 处理 nested 结构的 h3 级别 */
.VPDocOutlineItem.nested > li > .VPDocOutlineItem > li {
  counter-increment: outline-h3;
}

.VPDocOutlineItem.nested > li > .VPDocOutlineItem > li > .outline-link::before {
  content: counter(outline-h2) "." counter(outline-h3) " ";
}

/* 调整间距 */
.VPDocOutlineItem .outline-link {
  padding-left: 0;
}

.VPDocOutlineItem > li > .VPDocOutlineItem > li > .outline-link {
  padding-left: 1em;
}
/* 处理 root 结构的间距 */
.VPDocOutlineItem.root > li > .VPDocOutlineItem.nested > li > .outline-link {
  padding-left: 1em;
}
