<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>添加评论</h1>
    <form action="/comment" method="post" id="usrform">
        Name: <input type="text" name="name" /><br/>
        Comment: <textarea name="comment" form="usrform"></textarea>
        <button type="submit">提交评论</button>
    </form>
    <h1>用户评论</h1>
    <ul>
        {% for key, ele in comments %}

        <li>
            <p> <strong>{{ele.name}}</strong>
                <span>{{ele.comment}}</span>
            </p>
        </li>
        {% endfor %}
    </ul>


</body>

</html>